/* font-family: 'Lato', sans-serif;
#D04F4F
font-family: 'Roboto', sans-serif;
text-overflow: ellipsis;
*/

*{
    
    box-sizing: border-box;
}

body{
    margin: 0 100px;
}

h1{
    font-family: 'DM Sans', sans-serif;
    color: #D04F4F;
    font-size: 36px;
    margin: 0;
}

h2{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0 1.2% 0;
}


/*============Barre de recherche générale================*/

.search{
    position: relative;
    margin: 2% 0;
}

.search__input{
    width: 100%;
    height: 69px;
    border-radius: 5px;
    background-color: #E7E7E7;
    border: none;
    font-size: 18px;
    padding: 0 24px;
}

.search__input::placeholder{
    opacity: 25%;
}

.search__img{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    
}
.search__btn:hover{
    background: none;
}

/*============recettes card==============*/

.recipes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5% 0;
    padding: 2% 0;
}

.recipes__article{
    height: auto;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    width: 26%;
    background-color: #E7E7E7;
    margin: 2% 0;
}

.recipes__article img{
    height: 200px;
    width: 100%;
    background-color: #C7BEBE;
}

.recipes__article__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.recipes__article__title span{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recipes__article__title img{
    background: none;
    height: 20px;
    width: 20px;
    margin: 10px;
}

.recipes__article__content{
    padding: 2% 20px 20px 20px;;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    
}

.recipes__article__content div{
    flex-basis: 100%;
}

.recipes__article__description p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}

.recipes__article__content--ingredient {
    display: block ruby;
}

.recipes__article__content--ingredient h3, p{
    margin: 0 2px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}

@media (max-width: 992px) {
    body{
        margin: 0 10%;
    }
    .recipes__article{
        width: 100%;
    }
    .recipes__article__content{
        flex-wrap: wrap;
    }
    .recipes__article__description{
        padding-top: 2%;
    }
}


/*=============les filtres============ */

.filters__block{
    display: flex;
    flex-direction: column;
}
.filters{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    padding: 3% 0;
    position: relative;
    display: flex;
    flex-direction: row;
}

.dropdownIngred{
    min-width: 170px;
    height: 70px;
    padding: 0 15px;
    background-color: #3282F7;
    border-radius: 5px;
    list-style: none;
    width: 170px;
}

.dropdownIngred__header{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.dropdownIngred ul{
    padding: 0;
    background-color: #3282F7; 
    
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    min-width: 170px;
    position: absolute;
    left: 0px;
    margin-top: -4px;
    border-radius: 0 0 5px 5px;
    display: none;
    /* visibility: hidden; */
}

.dropdownIngred__list{
    padding: 5% 0;
    
    background-color: #3282F7; 
    
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    min-width: 170px;
    position: absolute;
    left: 0px;
    margin-top: -4px;
    border-radius: 0 0 5px 5px;
    display: none;

}

.dropdownIngred--open{
    visibility: hidden;
    
}

.dropdownIngred span{
    text-decoration: none;
    color: white;
    padding:0.4em;
    font-weight: 400;
    cursor : pointer;
}

.dropdownIngred__list input{
    /* display: none; */
    /* visibility: hidden;  */
}

.dropdownIngred__search{
    width: 100%;
    border: none;
    background: none;
    height: 30px;
}

.dropdownIngred__search::placeholder{
    opacity: 100%;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 700;
}


/* .dropdownIngred__list--open{
    
    opacity: 1;
    display: block;
    color: white;
    background-color: #3282F7;
} */


/* ==============Arrow========= */
.arrow__btn{
    background: none;
    border: none;
    vertical-align: middle;
}
.arrow{
    width: 20px;
    height: 20px;
    transition: transform 300ms ease-in-out
}
.arrowUp{
    transform: rotateX(180deg);
}
/* ==============Appareil========= */
.appareil{
    background-color: #68D9A4;
    padding: 2% 2%;
    border-radius: 5px;
    list-style: none;
    margin: 0 20px;
    height: 70px;
    
}
.appareil__header{
    display: flex;
}

.appareil__search{
    width: 100%;
    border: none;
    background: none;
    height: 30px;
}

.appareil__search::placeholder{
    opacity: 100%;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 700;
}

.appareil__btn{
    background: none;
    border: none;
}

.list__block{
    display: none;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
    margin: 0;
    padding: 0;
    list-style: none;
    
}
.list__items{
    padding: 2%;
    color: white;
    font-weight: 400;
    cursor : pointer;
}
/* ==============Ustensils========= */

.ustensils{
    background-color: #68D9A4;
    padding: 2% 2%;
    border-radius: 5px;
    list-style: none;
    margin: 0 20px;
    height: 70px;
}
.list__block--ustensils{
    display: none;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

/* ==============tags========= */

.filterTag{
    display: flex;
    column-gap: 20px;
}

.filterTag__btn{
    padding: 1%;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: #3282F7;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.filterTag__btn p{
    font-size: 14px;
    font-weight: 700;
}

