/* font-family: 'Lato', sans-serif;
#D04F4F
font-family: 'Roboto', sans-serif;
text-overflow: ellipsis;
*/

*{
    
    box-sizing: border-box;
}

body{
    margin: 0 100px;
}

h1{
    font-family: 'DM Sans', sans-serif;
    color: #D04F4F;
    font-size: 36px;
    margin: 0;
}

.search p{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0 1.2% 0;
}


/*============Barre de recherche générale================*/

.search{
    position: relative;
    margin: 2% 0;
}

.search__input{
    width: 100%;
    height: 69px;
    border-radius: 5px;
    background-color: #E7E7E7;
    border: none;
    font-size: 18px;
    padding: 0 24px;
}

.search__input::placeholder{
    opacity: 25%;
}

.search__img{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    
}
.search__btn:hover{
    background: none;
}

/*============recettes card==============*/

.recipes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5% 0;
    padding: 2% 0;
    position: absolute;
    top: 400px;
    margin: 5% 100px 5% 0;
    min-width: 200px;
}

.recipes__article{
    height: auto;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    width: 26%;
    background-color: #E7E7E7;
    margin: 2% 0;
    min-width: 400px;
}

.recipes__article__image{
    height: 200px;
    width: 100%;
    background-color: #C7BEBE;
}

.recipes__article__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.recipes__article__title h2{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    flex-basis: 220px;
}

.recipes__article__title span{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recipes__article__title span h2{
    font-weight: 700;
}

.recipes__article__title img{
    background: none;
    height: 20px;
    width: 20px;
    margin: 10px;
}

.recipes__article__content{
    padding: 2% 20px 20px 20px;;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    
}

.recipes__article__content div{
    flex-basis: 100%;
}

.recipes__article__description p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}



.recipes__article__content--ingredient h3, p{
    margin: 0 2px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    display: inline;
}

@media (max-width: 992px) {
    body{
        margin: 0 10%;
    }
    .recipes__article{
        width: 100%;
    }
    .recipes__article__content{
        flex-wrap: wrap;
    }
    .recipes__article__description{
        padding-top: 2%;
    }
}


/*=============les filtres générals============ */

.filters__block{
    display: flex;
    flex-direction: column;
}
.filters{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    padding: 3% 0;
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.filters__header{
    display: flex;
    width: 100%;
}

.filters__search{
    width: 100%;
    border: none;
    background: none;
    height: 30px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 700;
}

.filters__search::placeholder{
    opacity: 100%;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 700;
}

.list__block{
    display: none;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
    margin: 0;
    padding: 0;
    list-style: none;
    
}
.list__items{
    padding: 2%;
    color: white;
    font-weight: 400;
    cursor : pointer;
}

/* ==============Ingredients========= */

.ingredients__section{
    background-color: #3282F7;
    padding: 2% 2%;
    border-radius: 5px;
    list-style: none;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px 0 0;
}

/* ==============Appareil========= */
.appareils__section{
    background-color: #68D9A4;
    padding: 2% 2%;
    border-radius: 5px;
    list-style: none;
    margin: 0 20px;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* ==============Ustensils========= */

.ustensils__section{
    background-color: #ED6454;
    padding: 2% 2%;
    border-radius: 5px;
    list-style: none;
    margin: 0 20px;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* ==============Arrow========= */

.arrow__btn{
    background: none;
    border: none;
    vertical-align: middle;
}
.arrow{
    width: 20px;
    height: 20px;
    transition: transform 300ms ease-in-out
}
.arrowUp{
    transform: rotateX(180deg);
}

/* ==============tags========= */

.filterTag{
    display: flex;
    column-gap: 20px;
}

.filterTag__btn{
    padding: 1%;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: #3282F7;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.filterTag__btn p{
    font-size: 14px;
    font-weight: 700;
}

